{
    "parser": "babel-eslint",
    "rules": {
      "no-unused-vars": "warn",
      "react/prop-types": "warn"
    },
    "env": {
      "es6": true,
      "browser": true,
      "node": true
    },
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended"
    ]
}