@import '../../styles/colors.scss';

.link-list-container {
    padding-left: 20px;
    padding-right: 20px;

    a:visited, a:link {
        background-color: white;
        color: black;
        padding: 3px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 16px 2px;
    }
    
    a:hover, a:active {
        background-color: $light-blue;
        color: black;
    }
}
