.app {
    font-size: 1.2em;
    font-family: 'Nanum Myeongjo', serif;
}

input, textarea {
  width: 100%;
  border: 1px solid grey;
  padding: 5px;
  margin-top: 10px;
  font-size: 1em !important;
}

