@import '../../../../../styles/scss/colors';

.operation-row {
    &:hover {
        background-color: $default-select-color;
    }
    display: flex;
}

.operation-row-content {
    border-top: 1px solid $default-select-color;
    border-bottom: 1px solid $default-select-color;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
}
