.identification-block {
    margin: auto;
    margin-top: 3%;
    padding-bottom: 0 !important;
    width: 60%;
}

.bottom-links {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
}
