.menu {
    text-align: right;
}

.intro{
    text-align: center;
    font-size: 5em;
    padding: 3em 0;
    color: #27E67A;
    background-image: url('../../../images/main-page-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 94vh;
}
