.button-group {
    button {
        margin-right: 10px !important;
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }
}

.button-group-right-space {
    button {
        margin-right: 10px !important;
    }
}

.button-group-left-space {
    button {
        margin-left: 10px !important;
    }
}
