@import 'src/styles/colors.scss';


.page-title{
  display: flex;
  justify-content: space-between;
}

.page-title-element {
  padding-top: 30px;
  margin-bottom: 30px;
  min-width: 33%;
}

.page-title-text {
  text-align: center;
  color: $font-color;
}
