.line-right-border {
    border-right: 1px solid blue;
    border-right-style: dashed;
}

.line-bottom-border {
    border-bottom: 1px solid blue;
    border-bottom-style: dashed;
}

.row-line {
    padding-top: 5px;
    padding-bottom: 5px;
}