@import 'src/styles/colors.scss';


.table {
  .clickable {
    cursor: pointer;
  }


  tbody {

    tr:hover {
      background-color: $block-color;
    }
  }

  thead {
    background-color: $nav-color;
    color: $nav-font-color;
  }
}

.table, td, tr {
  border-bottom: 1px solid black !important;
}
