@import 'colors';

button {
    border: 2px solid black;
    padding: 10px 20px;
    background-color: white;
    color: black;
    transition-duration: 0.4s;

    &.danger {
        border: 2px solid $danger-color;
    }

    &.danger:hover {
        background-color: $danger-color;
    }

    &.success {
        border: 2px solid $success-color;
    }

    &.success:hover {
        background-color: $success-color;
    }

    &:hover {
        background-color: black;
        color: white;
    }
}
